{{- if and .Values.persistence.enabled (not .Values.postgres.url) }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "mnemo.fullname" . }}-data
  labels:
    {{- include "mnemo.labels" . | nindent 4 }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
{{- end }}
